// screen sizes
$breakpoints: (phone: 480px, 
    tablet: 768px, 
    desktop: 1024px) !default;


// reference: https://css-tricks.com/approaches-media-queries-sass/

// examples of how to use the breakpoints
// @include media(">phone", "<tablet") {
// }

// @include media(">tablet", "<950px") {
// }

$font-stack: Helvetica, sans-serif;
$primary-color: #FFF;

body {
    font: $font-stack;
    background-color: $primary-color;
}