@import 'base';

.grid-container {
    @media screen and (min-width: $desktop) {
        display: grid;
        text-align: center;
        width : 95%;
        max-width : 2000px; 
        margin: 2.5%;
    };
    @media screen and (min-width: $tablet) {
        display: grid;
        text-align: center;
        width : 95%;
        margin: 2.5%;
    }
    @media screen and (max-width: $phone) {
        display: grid;
        text-align: center;
        width : 95%;
        margin: 2.5%;
    }
}

.row {
    clear: both;
    margin: 10px 0px 10px 0px;
}

.divider {
    height: 0.5px;
    background-color: black;
    width: 65%;
    margin: 1em auto 1em auto;
}

.header {
    text-align: center;
    font-size: 3em;
}