@import 'base';

.grid-container {
    @media screen and (min-width: $desktop) {
        display: grid;
        text-align: center;
        width : 95%;
        max-width : 1400px; 
        margin: 2.5%;
    };
    @media screen and (min-width: $tablet) {
        display: grid;
        text-align: center;
        width : 95%;
        margin: 2.5%;
    }
    @media screen and (max-width: $phone) {
        display: grid;
        text-align: center;
        width : 95%;
        margin: 2.5%;
    }
}

.row {
    clear: both;
    margin: 10px 0px 10px 0px;
}

.row-one {
    background-color: brown;
}

.row-two {
    background-color: green;
}

.row-three {
    background-color: blue;
}

.row-four {
    background-color: yellow;
}

.row-five {
    background-color: blueviolet;
}

.row-six {
    background-color: red;
}

.divider {
    height: 0.5px;
    background-color: black;
    width: 65%;
    margin: auto;
}

.header {
    text-align: center;
    font-size: 3em;
}